<h1><%=  @book['title']%></h1>
<%if @book.series_title %>
    <p>The No.<%=@book.series_number%> book of <%=@book.series_title%> series</p>
<%end %>
<p><%=@book.author%></p>
<p><%=  @book["publication_year"] %></p>
<p><img src=<%= @book["image_url"] %> alt="movie poster not avaiable"></p>
<p><%=  @book["description"] %></p>
<p>Goodreads ratings: <%=@book.goodreadrating%>by <%=@book.ratings_count%> readers</p>


<p><%=@book["book_id"]%></p>


<form action="/ratings/<%=@book.id%>" method ="post">
    <input type="hidden" name = "_method" value ='put'>
    <label for="">my rating </label>
    <input type="text" name ="score" value="<%=@current_score%>">
    <input type="hidden" name ="user_id" value ="<%=current_user.user_id%>" >
    <input type="hidden" name ="book_id" value ="<%=@book.id%>">
    <button>edit</button>
</form>

