<div class ="top">
<h1>love les livres</h1>
<form action="/search" method="get">
    <input name = "name" type="text" placeholder ="Search Books" class ="search-bar">
    <button class="search-btn">search</button>
</form>
</div>

<div class= "middle">
    <section class ="left">
        <div class =friends>
            <%if @chats%>
                <%@chats.each do |chat|%>
                    <p><%=chat.chat_type%></p>
                    <p><%=chat.chat_name_to%></p>
                    <p><%=chat.chat_content%></p>
                <%end%>
            <%end%>
        </div>
    </section>

    <section class= "right">
        <div class ="notifications">
            <div>
                <p>people rated the same scores as you</p>
                <%@same_score_users.each do |user|%>
                    <%if user.profile_image%>
                        <img src="<%=user.profile_image%>" class = "profile-img">
                        <a href="/profile/<%=user.user_id%>"><%=user.name%></a>
                    <% else %>
                        <img src="/img/error.png" class = "profile-img"><a href="/profile/<%=user.user_id%>"><%=user.name%></a>
                    <%end%>
                <%end%>
            </div>
        </div>

        <div class ="booklists">
            <div class ="books">
            <div class="read">
                <p>Read</p>
                <p><button>edit</button></p>
                <p>You have read  <%=@read.length%> books so far!</p>
                <% @read.each do |id|%>
                    <%book = Book.find(id)%>
                    <a href="/book?id=<%=id%>"><img src="<%=book.small_image_url%>" alt=""></a>
                <%end%>
            </div>

            <div class="to_read">
                <p>To Read</p>
                <p><button>edit</button></p>
                <% @to_read.each do |id|%>
                    <%book = Book.find(id)%>
                    <a href="/book?id=<%=id%>"><img src="<%=book.small_image_url%>" alt=""></a>
                <%end%>
            </div>
            </div>
            <div class="reading">
                <p>Reading</p>
                <p><button>edit</button></p>
                <% @reading.each do |id|%>
                    <%book = Book.find(id)%>
                    <a href="/book?id=<%=id%>"><img src="<%=book.small_image_url%>" alt="">
                    <p><%=book.title%></p>
                    <p>By <%=book.author%></p></a>
                <%end%>
            </div>
        </div>

    </section>
    
</div>
