<div class= "middle">
    <section class ="left">   
        <%if @chats%>           
            <%@chats.each do |chat|%>
                <div class ="chat-board">
                    <p class="chat-type"><%=chat.chat_type%></p>
                    <p class ="chat-sender">from user: <%=chat.chat_name_from%></p>
                    <p class= "chat-content"><%=chat.chat_content%></p>
                </div>
            <%end%>
        <%end%>
        <%if @random_blah%>
            <p class ="random-blah"><%=@random_blah%></p>
        <%end%>

        
    </section>

    <section class= "right">
        <div class ="notifications">
            <div>
                <p>people rated the same scores as you</p>
                <%@same_score_users.each do |user|%>
                    <%if user.profile_image%>
                        <img src="<%=user.profile_image%>" class = "profile-img">
                        <a href="/profile/<%=user.user_id%>"><%=user.name%></a>
                    <% else %>
                        <img src="/img/error.png" class = "profile-img"><a href="/profile/<%=user.user_id%>"><%=user.name%></a>
                    <%end%>
                <%end%>
            </div>
        </div>

        <div class ="booklists">
            <div class ="books">
            <div class="read">
                <p><a href="/shelf"> Read</a></p>
                <p>You have read  <%=@read.length%> books so far!</p>
                <% @read.each do |id|%>
                    <%book = Book.find(id)%>
                    <a href="/book?id=<%=id%>"><img src="<%=book.small_image_url%>" alt="">
                    <p><%=book.title%></p></a>
                <%end%>
            </div>

            <div class="to_read">
                <p><a href="/shelf"> To Read</a></p>
                <% @to_read.each do |id|%>
                    <%book = Book.find(id)%>
                    <a href="/book?id=<%=id%>"><img src="<%=book.small_image_url%>" alt="">
                    <p><%=book.title%></p></a>
                <%end%>
            </div>
            </div>
            <div class="reading">
                <p><a href="/shelf">Reading</a> </p>
                <% @reading.each do |id|%>
                    <%book = Book.find(id)%>
                    <a href="/book?id=<%=id%>"><img src="<%=book.small_image_url%>" alt="">
                    <p><%=book.title%></p>
                    <p>By <%=book.author%></p></a>
                <%end%>
            </div>
        </div>

    </section>
    
</div>
